name: Frontend CI/CD Pipeline

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]

jobs:
  deploy-frontend:
    runs-on: ubuntu-latest

    steps:
      # Checkout repository
      - name: Checkout Source Code
        uses: actions/checkout@v4

      # Upload frontend folder to EC2
      - name: Upload Frontend Code to EC2
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ec2-user
          key: ${{ secrets.EC2_KEY }}
          source: "frontend/*"
          target: "/home/ec2-user/frontend/"

      # SSH into EC2 and deploy
      - name: Configure & Deploy Frontend on EC2
        uses: appleboy/ssh-action@v1.1.0
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ec2-user
          key: ${{ secrets.EC2_KEY }}
          script: |
            echo "Updating Python and Virtual Environment..."

            sudo dnf install -y python3 python3-pip

            cd /home/ec2-user/frontend

            # Create virtual environment
            python3 -m venv venv
            source venv/bin/activate

            pip install --upgrade pip
            pip install streamlit requests

            echo "Creating systemd service..."

            sudo bash -c 'cat > /etc/systemd/system/frontend.service <<EOF
            [Unit]
            Description=Streamlit Frontend App
            After=network.target

            [Service]
            User=ec2-user
            WorkingDirectory=/home/ec2-user/frontend
            ExecStart=/home/ec2-user/frontend/venv/bin/python -m streamlit run /home/ec2-user/frontend/app.py --server.port=8501 --server.address=0.0.0.0
            Environment=API_URL="http://13.235.238.202:8084"
            Restart=always
            RestartSec=5

            [Install]
            WantedBy=multi-user.target
            EOF'

            echo "Reloading & Starting frontend service..."

            sudo systemctl daemon-reload
            sudo systemctl enable frontend
            sudo systemctl restart frontend
            sudo systemctl status frontend --no-pager

            echo "Frontend deployment completed"
