- name: Run Frontend Pipeline on EC2
  uses: appleboy/ssh-action@v1.1.0
  with:
    host: ${{ secrets.EC2_HOST }}
    username: ec2-user
    key: ${{ secrets.EC2_KEY }}
    script: |
      echo "Running Jenkins pipeline steps on EC2"

      # ===== Stage: root =====
      sudo su -

      # ===== Stage: gitclone =====
      sudo rm -rf /home/ec2-user/workspace
      mkdir -p /home/ec2-user/workspace
      cd /home/ec2-user/workspace
      git clone -b main https://github.com/CloudTechDevOps/Java-springboot-project.git
      cd Java-springboot-project

      # ===== Stage: directory =====
      cd frontend
      sudo dnf install -y python3-pip
      python3 -m venv venv
      source venv/bin/activate
      pip install --upgrade pip
      pip install streamlit requests

      # ===== Stage: deploy frontend =====
      sudo bash -c 'cat > /etc/systemd/system/frontend.service <<EOF
[Unit]
Description=Streamlit Frontend App
After=network.target

[Service]
User=root
WorkingDirectory=/home/ec2-user/workspace/Java-springboot-project/frontend
ExecStart=/home/ec2-user/workspace/Java-springboot-project/frontend/venv/bin/python -m streamlit run /home/ec2-user/workspace/Java-springboot-project/frontend/app.py --server.port=8501 --server.address=0.0.0.0
Environment=API_URL="http://13.232.27.210:8084"
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
EOF'

      # ===== Stage: start server =====
      sudo systemctl daemon-reload
      sudo systemctl enable frontend
      sudo systemctl restart frontend
      sudo systemctl status frontend --no-pager
